<h1>My Todo's</h1>
<div class="container">
<table class="table">
  <thead>
    <tr><th>id</th><th>description</th>
    <th>Target Date</th><th>Done</th><th>Update</th></tr>
      <th>Delete</th>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{todo.id}}</td>
      <td>{{todo.description}}</td>
      <td>{{todo.targetDate | date }}</td>
      <td>{{todo.done}}</td>
      <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>
      <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
    </tr>
  </tbody>
  <div class="container" *ngIf="message">
  <H2>{{message}}</H2>
</div>

  </table>
  <div class="row">
    <button (click)="addTodo()" class="btn btn-success">Add</button>
  </div>
</div>